:root {
    --primary: #ffe8dc;
    --secondary:#ebcaca;
}

hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--secondary);
}

body {
    font-family: 'Eczar', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-right: 100px;
}

header > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    margin-right: 0;
}
/* 
header > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

header > ul > li {
    padding: 5px;
}

header > ul {
    justify-content: flex-end;
    margin-left: 20px;
}

header > ul > li.dot {
    width: 1px;
    height: 1px;
    background: black;
    border-radius: 50%
}

section.about-mark {
    display: flex;
    flex-direction: column;
}

/* section.about-mark {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 5px 10px 20px;
    max-width: 700px;
    padding-right: 30px;
} */

section.about-mark > img {
    padding: 5px;
}

section.about-mark > p {
    padding: 5px;
    margin: 1px;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.background-container {
    background-color: var(--primary);
    margin-left: 50px;
    border-radius: 4px;
    float: right;
}

section.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

section.projects img {
    width: 90%;
}

section > div.project1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 500px;
}

.project-links {
     display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    list-style: none;
}

section ul.project-links li {
    padding-top: 30px;
    padding-left: 10px;
}

ul.project-links {
    margin: 0;
    padding-inline-start: 0 !important;
}

.projects-container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 900px;
}

.contact ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.contact h2 {
    margin-left: 50px;
    width: 150px;
}

.contact {
    max-width: 300px;
}

footer {
    vertical-align: middle;
    text-align: center;
    height: 30px;
}

@media all and (min-width: 320px) and (max-width: 450px) {
    .background-container {
        background-color: var(--primary);
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px !important;
        border-radius: 4px;
        float: right;
    }

    section.projects {
        margin-right: 0;
        padding: 0;
        max-width: 320px;
    }

    main {
        max-width: 320px;
    }

    .contact {
        margin: 0 !important;
        padding: 0;
        width: 320px;
    }
}

@media all and (min-width: 1300px) {
    header {
        margin-right: 250px;
    }
}

@media all and (min-width: 590px) and (max-width: 1065px) {
    header {
        margin-right: 30px;
    }
}

@media all and (min-width: 590px) {
header > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    align-items: center;
    width: 100%;
    }
}

@media all and (min-width: 440px) {
    section.about-mark {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
        margin: 50px 5px 10px 20px;
        max-width: 700px;
        padding-right: 30px;
    }
}